.primary1 {
    background-color: #263238;
}

.primary2 {
    background-color: #ffcb9a;
}

.secondary1 {

}

.text1 {
    color: #f5f5f5 !important;
}

body {
    background-color: #cfd8dc;
}

<!-- Footer -->
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}