.primary1 {
    background-color: #263238;
}

.primary2 {
    background-color: #ffcb9a;
}

.secondary1 {

}

.text1 {
    color: #f5f5f5 !important;
}

.text2 {
    color: #ffab40 !important;
}

.card .card-image .card-title {
    padding: 10px;
}

body {
    background-color: #cfd8dc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo > span,.brand-logo > img{
    vertical-align: middle;
}
