.primary1 {
    background-color: #263238;
}

.primary2 {
    background-color: #ffcb9a;
}

.secondary1 {

}

.text1 {
    color: #f5f5f5 !important;
}

.text2 {
    color: #ffab40 !important;
}



body {
    background-color: #cfd8dc;
}

<!-- Footer -->
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}

.card .card-image .card-title {
    padding: 10px;
}